/* CSS Document */


body{
	/**background-image: url("../img/bad-programming-habits.jpg");**/
	/**background-size: cover;**/
	background-color:aliceblue;
	padding: 1.5em;
}
div{
	padding: 1em;
	border-color: gray;

}
